.App {
  text-align: center;
  background-color: #83AFA6;
  color: #E5E5E5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #83AFA6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E5E5E5;
}

